h1 {
    color:#ff8a78;
}

h2 {
    color:#88d37c;
} 

h3 {
    color:#84beec;
}

b, strong {
    color: #ffffff;
}

i, em {
    color:#bc97f3;
}

body {
    background-color:#0f0f12;
}

.site-header {
    border-top: 0px;
}